.RegisterAdviceBody {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 55px;
  overflow: auto;
}

.DivBckgImg {
  position: absolute;
  width: 780px;
  height: 100%;
}

.RegisterAdviceBckgImg {
  position: relative;
  width: 780px;
  min-height: 155vh;
  float: left;
  background-image: url("/src/utils/images/LoginBg.jpg");
  background-position: center;  
  background-size: cover;
}

.LogoRegisterAdvice{
  height: 100px;
  width: 200px;
  left: 775px;
  position: relative;
}
