

.LoginBody {
  position: relative;
  min-height: calc(100vh - 80px);
}

.Login {
  text-align: center;
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  margin-bottom: 55px;
}

.formikRecovery {
  top: 35px;
  position: relative;
  min-height: 40vh;
  width: 450px;
  padding-right: 80px;
  right: 20px;
  float: right;
} 

.LoginBckgImg {
  position: relative;
  width: 780px;
  min-height: 100vh;
  float: left;
  background-image: url("src/utils/images/LoginBg.jpg");
  background-position: center;  
  background-size: cover;
}

.formVerify {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.inputVerify {
  background: 'white';
  border-radius: 5;
  outline: 0;
}